 <div class="user-details">
  <h1> About IDAL </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>제조/생산 <br/> 데이터 분석</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
     <ul>
        <li> 품질 및 신뢰성 & 예지보전</li>
        <li> SCM 및 제조라인 최적화</li>
        <li> 제품 설계 최적화 & 실험계획</li>
     </ul>
    </div>
    <div class="tech">
      <h2>산업 인공지능<br/>알고리즘 개발</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
     <ul>
        <li> 센서기술 기반의 AI 알고리즘 개발 </li>
        <li> 의료데이터 검사 알고리즘 개발</li>
      </ul>
    </div>
    <div class="tech">
      <h2>교육 및 <br/>인력 양성</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
     <ul>
        <li> 산업 데이터사이언티스트 양성 </li>
        <li> 실현 가능한 AI 기술/연구 활성화 </li>
        <li> 공학/사회과학 문제와 분석기술의 융합인재 양성</li>
      </ul>
    </div>
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>
