<hr width="100%">
<div class="user-details">
  <h1> Activities </h1>
</div>

<!--사진은 400*400px로 넣어야 함-->

<div class="activities-details">
  <div class="activities-images">
	<img alt="a11" src="{{ '/assets/img/act/act1_1.jpg' | prepend: site.baseurl }}" />
	<img alt="a12" src="{{ '/assets/img/act/act1_2.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="activities-scription">
    <h3>에너지 프로슈머 빅데이터 분석 프로젝트 기술교류회 및 랩 워크숍</h3>
    <p> 제주도, 2020.08.19 ~ 2020.08.20 </p>
	</br></br></br></br>
  </div>
</div>

<div class="activities-details">
  <div class="activities-images">
	<img alt="a21" src="{{ '/assets/img/act/act2_1.jpg' | prepend: site.baseurl }}" />
	<img alt="a22" src="{{ '/assets/img/act/act2_2.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="activities-scription">
    <h3>산업데이터분석연구실 21년도 1차 전체 세미나</h3>
    <p> 한국산업기술대학교 공학관 G동 320호, 2021.04.16 </p>
	</br></br></br></br>
  </div>
</div>

<div class="activities-details">
  <div class="activities-images">
	<img alt="a31" src="{{ '/assets/img/act/act3_1.jpg' | prepend: site.baseurl }}" />
	<img alt="a32" src="{{ '/assets/img/act/act3_2.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="activities-scription">
    <h3>대한산업공학회-한국경영과학회 춘계공동학술대회 참여</h3>
    <p>제주도 ICC, 2021.06.02 ~ 2021.06.4 </p>
	</br></br></br></br>
  </div>
</div>


<div class="activities-details">
  <div class="activities-images">
	<img alt="a41" src="{{ '/assets/img/act/act4_1.jpg' | prepend: site.baseurl }}" />
	<img alt="a42" src="{{ '/assets/img/act/act4_2.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="activities-scription">
    <h3>한국신뢰성학회 춘계학술대회 참여</h3>
    <p> 제주도 KAL호텔, 2021.06.30 ~ 2021.07.02 </p>
  </div>
</div>


<div class="activities-details">
  <div class="activities-images">
	<img alt="a41" src="{{ '/assets/img/act/act5_1.jpg' | prepend: site.baseurl }}" />
	<img alt="a42" src="{{ '/assets/img/act/act5_2.png' | prepend: site.baseurl }}" />
  </div>
  <div class="activities-scription">
    <h3>한국품질경영학회 추계학술대회 참여</h3>
    <p> 전주 The May호텔, 2021.10.28 ~ 2021.10.29 </p>
  </div>
</div>



<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>
