<hr width="100%">
<div class="user-details">
  <h1> Members </h1>
</div>
<div class="user-members">
  <div class="images-right">
      <img alt="Kang" src="{{ '/assets/img/kangPro.jpg' | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Jihoon Kang </h3>
    <ul>
      <li> Assistance Professor </li>
      <li> Data Analystics<br/>Machine Learning<br/>Quality Control </li>
    </ul>
    <p>- 고려대학교 산업경영공학 공학박사<br/>- 고려대학교 정보경영공학 공학석사<br/>- 광운대학교 경영학과 경영학학사<br/><br/>- 現 한국산업기술대학교 경영학부 조교수<br/>- 前 삼성 SDS 빅데이터 분석 팀 빅데이터 분석 그룹, Principle Data Scientist<br/>- 前 삼성 SDS 알고리즘 연구소 IOT 랩/데이터분석 랩, Senior Engineer</p>
    <div class = "member-icons">
      <a class="project-link" href="#">More...</a>
      <a aria-label="Send Email" href="mailto:jhkang82@kpu.ac.kr"><i class = "icon fa fa-envelope"></i></a>
      <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
    </div>
  </div>
</div>
<div class="user-members">
  <div class="images-left">
    <img alt="huh" src="{{ '/assets/img/huhPro.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jaeseok Huh </h3>
    <ul>
      <li> Assistance Professor </li>
      <li> Machine Learning<br/>Optimization(OR)<br/>Scheduling/Dispatching<br/></li>
    </ul>
    <p>- 서울대학교 산업공학과 공학박사<br/>- 서울대학교 산업공학과 공학석사<br/>- 서울대학교 산업공학과 공학사<br><br>- 現 한국산업기술대학교 경영학부 조교수<br/>- 前 ai.m Inc. Chief Data Officer</p>
    <div class = "member-icons">
      <a aria-label="Send Email" href="mailto:jshuh@kpu.ac.kr"><i class = "icon fa fa-envelope"></i></a>
      <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
      <a aria-label="github" href="#"><i class = "icon fab fa-github"></i></a>
    </div>
  </div>
</div>
<div class="upss">
  <hr width="100%">
</div>
<div class = "user-members-students-div">
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="Ko" src="{{ '/assets/img/koAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Gwangjong Ko </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> Optimization(OR), RL </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:rhkswhdwkd@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="Home" href="https://koptimizer.github.io/my_resume/"><i class = "icon fas fa-home"></i></a>
		  <a aria-label="github" href="https://github.com/koptimizer"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="byun" src="{{ '/assets/img/byunAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Junhyun Byun </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> Data mining, ML </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="bbjjhh1997@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/JunHyun-DS"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="sang" src="{{ '/assets/img/sangAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Sangki Kim </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> ML, QC </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="pon03111@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	   </div>
	 </div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="yong" src="{{ '/assets/img/yongAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Yongmin Kim </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> Anomaly Detection, ML  </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="dsym2894@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="sun" src="{{ '/assets/img/sunAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Sunwoo Bang </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> ML, NLP  </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="praysw@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/SunWooBang"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>

