<hr width="100%">
<div class="user-details">
  <h1> Members </h1>
</div>
<div class="user-members">
  <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Jihoon Kang </h3>
    <ul>
      <li> Professor </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class = "member-icons">
      <a class="project-link" href="#">More...</a>
      <a aria-label="Send Email" href="mailto:jhkang82@kpu.ac.kr"><i class = "icon fa fa-envelope"></i></a>
      <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
      <a aria-label="Linked in" href="#"><i class = "icon fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
<div class="user-members">
  <div class="images-left">
    <img alt="huh" src="{{ "/assets/img/huhPro2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Jaeseok Huh </h3>
    <ul>
      <li> Professor </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class = "member-icons">
      <a aria-label="Send Email" href="mailto:jshuh@kpu.ac.kr"><i class = "icon fa fa-envelope"></i></a>
      <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
      <a aria-label="Linked in" href="#"><i class = "icon fab fa-linkedin"></i></a>
      <a aria-label="github" href="#"><i class = "icon fab fa-github"></i></a>
    </div>
  </div>
</div><div class="upss">
  <hr width="100%">
</div>
<div class = "user-members-students-div">
	<div class="user-members-student">
	  <div class="images-left-down">
		<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Gwangjong Ko </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> RL, Optimization </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:rhkswhdwkd@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="Home" href="https://github.com/KGJsGit/my_resume"><i class = "icon fas fa-home"></i></a>
		  <a aria-label="github" href="https://github.com/KGJsGit"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-left-down">
		<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Junhyun Byun </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> ML </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="bbjjhh1997@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/JunHyun-DS"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-left-down">
		<img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Sangki Kim </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> ML, Novelty detection, QC </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="pon03111@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-left-down">
		<img alt="mountains" src="{{ "/assets/img/sangAs.jpg" | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Yongmin Kim </h3>
		<ul>
		  <li> Research Assistance </li>
		  <li> Data Science </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="#"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="Home" href="#"><i class = "icon fas fa-home"></i></a>
		  <a aria-label="github" href="#"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
<div>

