<hr width="100%">
<div class="user-details">
  <h1> M.S. Students </h1>
</div>
<div class = "user-members-students-div">
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="sang" src="{{ '/assets/img/sangAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Sangki Kim </h3>
		<ul>
		  <li> M.S Student </li>
		  <li> ML, QC </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:pon03111@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	   </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="yong" src="{{ '/assets/img/yongAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Yongmin Kim </h3>
		<ul>
		  <li> M.S Student </li>
		  <li> Anomaly Detection, ML  </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:dsym2894@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="sol" src="{{ '/assets/img/solAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Dasol Kim </h3>
		<ul>
		  <li> M.S Student </li>
		  <li> Optimization(OR), RL </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:qorwlsen@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	</div>
</div>

<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
  <hr width="100%">
</div>

<div class="user-details">
  <h1> Undergraduate Research Assistants </h1>
</div>
<div class = "user-members-students-div">
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="Ko" src="{{ '/assets/img/koAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Gwangjong Ko </h3>
		<ul>
		  <li> Research Assistant </li>
		  <li> Optimization(OR), RL </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:rhkswhdwkd@naver.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="Home" href="https://koptimizer.github.io/CV/"><i class = "icon fas fa-home"></i></a>
		  <a aria-label="github" href="https://github.com/koptimizer"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="byun" src="{{ '/assets/img/byunAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Junhyun Byun </h3>
		<ul>
		  <li> Research Assistant </li>
		  <li> Predictive Maintenance </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:bbjjhh1997@gmail.com"><i class = "icon fa fa-envelope"></i></a>
		  <a aria-label="github" href="https://github.com/JunHyun-DS"><i class = "icon fab fa-github"></i></a>
		</div>
	  </div>
	</div>
	<div class="user-members-student">
	  <div class="images-down">
		<img alt="hong" src="{{ '/assets/img/hongAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Suhong Min </h3>
		<ul>
		  <li> Research Assistant </li>
		  <li> Symbolic Regression </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:net7485@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	 </div>
	 
	 <div class="user-members-student">
	  <div class="images-down">
		<img alt="hong" src="{{ '/assets/img/chaAs.jpg' | prepend: site.baseurl }}" />
	  </div>
	  <div class="contents-down">
		<h3> Seungwoo Cha </h3>
		<ul>
		  <li> Research Assistant </li>
		  <li> EDA, ML </li>
		</ul>
		<div class = "member-icons">
		  <a aria-label="Send Email" href="mailto:rnrghs12@naver.com"><i class = "icon fa fa-envelope"></i></a>
		</div>
	  </div>
	</div>
	
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>

