<hr width="100%">
<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-publications">
    <h3> Current Sponsored Research Projects </h3>
    <ul>
      <li>고품질 생산기술과 공정 신뢰성 확보를 위한 머신러닝 기반 예지보전 기술의 기저 방법론 개발, 한국연구재단, 2020.06.01 ~ 2023.02.28 </li><br/>
      <li>에너지 프로슈머 빅데이터 분석 및 AI 알고리즘을 활용한 P2P 에너지 블록체인 기술개발, 정보통신산업진흥원, 2020.04.01 ~ 2024.12.31 </li><br/>
      <li>메타휴리스틱과 심층강화학습을 이용한 실시간 제조라인 일정계획 수립 기법, 한국연구재단, 2020.03.01 ~ 2023.02.28 </li><br/>
	</ul>
	<h3> Past Research Projects </h3>
	<ul>
	<li> Deep Reinforcement Learning을 활용한 지능형 Real-Time Scheduling/Dispatching, 프로페셔널컨설팅그룹(주), 2016.01.25 ~ 2018.10.17 </li><br/>
	 <li> 기계 학습과 정보 검색을 이용한 제조 및 서비스 시스템 운영의 최적화 기법 연구, 한국연구재단, 2015.11.01 ~ 2018.10.31 </li>
	</ul>
</div>
