<hr width="100%">
<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user-publications">
    <h3> International Journal </h3>
    <ul>
      <li>Huh, J.,Park,J.,Shin,D.,&Choi,Y.*(2020),A Behavior Optimization Method for Unmanned Combat Aerial Vehicles Using Matrix Factorization, to appear in IEEE Access. (SCIE)</li>
	  <li>Park, I., Huh, J.*, Kim, J., & Park, J. (2019), A Reinforcement Learning Approach to Robust Scheduling of Semiconductor Manufacturing Facilities, to appear in IEEE Transactions on Automation Science and Engineering. (SCIE)</li>
    	<li>Huh, J., Park, J., Shin, D., & Choi, Y.* (2019), A Hierarchical SVM Based Behavior Inference of Human Operators Using a Hybrid Sequence Kernel, Sustainability, 11(18), 4836-4851. (SSCI) </li>
	    <li>Huh, J., Chae, M., Park, J., & Kim, K.* (2019), A Case-Based Reasoning Approach to Fast Optimization of Travel Routes for Large-Scale AS/RSs, Journal of Intelligent Manufacturing, 30(4), 1765-1778. (SCIE)</li>
	    <li>Huh, J., Park, I., Lim, S., Paeng, B., Park, J., & Kim, K.* (2018), Learning to Dispatch Operations with Intentional Delay for Re-Entrant Multiple-Chip Product Assembly Lines, Sustainability, 10(11), 4123-4143. (SSCI)</li>
	    <li>Jo, J., Huh, J., Park, J., Kim, B., & Seo, J.* (2014), LiveGantt: Interactively Visualizing a Large Manufacturing Schedule, IEEE Transactions on Visualization and Computer Graphics, 20(12), 2329-2338. (SCI)</li>
	</ul>
</div>
<div class="user-publications">
    <h3> International Conference </h3>
    <ul>
      <li>Yang, Y., Park, I., Huh, J., Paeng, B., Lim, S., & Park, J.* (2016), Deep Reinforcement Learning for Smart Factory Operation, The 2nd Pacific Rim Statistical Conference for Production Engineering, Dec. 15-16, Seoul, Korea.</li>
	<li>Jeon, S., Kim, K., Choi, Y., Park, I, Huh, J., & Park, J.* (2016), Mobile Context Inference Using Multimodal SmartPhone Sensor Data, 3rd Intl.Conference on Soft Computing & Machine Intelligence (ISCMI 2016), Nov. 23-25, Dubai, UAE.</li>
	<li>Jo, J., Huh, J., Park, J., Kim, B., & Seo, J.* (2014), LiveGantt: Interactively Visualizing a Large Manufacturing Schedule, IEEE InfoVis 2014, Nov. 9-14, Paris, France.</li>
    </ul>
</div>
<div class="user-publications">
    <h3> Korean Journal </h3>
    <ul>
      <li>허재석*, 박종헌 (2020), 제조라인의 학습기반 디스패처를 위한 디스패치 의사결정 평가 시각 화시스템, 한국전자거래학회지, 25(1), 1-12. (KCI)</li>
	<li>허재석*, 박종헌 (2019), 재유입 다중칩 조립라인을 위한 인공신경망 기반의 다중 목적 함수 디스패치 규칙 선택 기법, 한국정보기술학회논문지, 17(2), 1-11. (KCI)</li>
    </ul>
</div>
<div class="user-publications">
    <h3> Korean Conference </h3>
    <ul>
      <li>허재석, 임성민, 박인범, 팽보형, 김중균, 박종헌, 윤영민, 이호열 (2018), 반도체 패키징 라인의 TAT 감소와 설비 가동률 증가를 위한 딥러닝 기반의 디스패칭 기법, 대한산업공학회 춘계공동 학술대회 논문집, 28: 580-587. </li>
	<li>허재석, 박인범, 팽보형, 임성민, 박종헌, 김관호, 윤영민, 이호열 (2017), 반도체 공정 스케줄의 의사 결정 단위 성능 평가를 위한 UI 시스템, 대한산업공학회 춘계공동학술대회, 27: 181-192. </li>
	<li>진학은, 기홍도, 채문정, 허재석, 박종헌 (2016), 스마트기기 센서 데이터를 이용한 전투행동 예측 기법, 대한산업공학회 추계공동학술대회, 26: 2325-2334. </li>
	<li>허재석, 양용석, 임성민, 박인범, 채문정, 김관호, 박종헌 (2014), 사례기반추론을 이용한 자 동창고의 위치 할당 및 입/출고 순간 스케줄링 기법, 대한산업공학회 춘계공동학술대회, 25: 791-797.</li>
    </ul>
</div>
