<hr width="100%">
<div class="user-details">
  <h1> Publications </h1>
</div>
<div class="user-publications">
    <h3> International Journal </h3>
    <ul>
      <li>Jaeseok Huh, Jonghun Park, Dongmin Shin, and Yerim Choi*, "A Behavior Optimization Method for Unmanned Combat Aerial Vehicles Using Matrix Factorization", to appear in IEEE Access (SCIE)</li><br/> 
<!-- <li>Huh, J., Park, J., Shin, D., & Choi, Y.*(2020), A Behavior Optimization Method for Unmanned Combat Aerial Vehicles Using Matrix Factorization, to appear in IEEE Access. (SCIE)</li><br/> -->
      <li>Inbeom Park, Jaeseok Huh*, JungKyun Kim, and Jonghun Park, "A Reinforcement Learning Approach to Robust Scheduling of Semiconductor Manufacturing Facilities", to appear in IEEE Transactions on Automation Science and Engineering (SCIE)</li><br/>
      <li>Jaeseok Huh, Jonghun Park, Dongmin Shin, and Yerim Choi*, "A Hierarchical SVM Based Behavior Inference of Human Operators Using a Hybrid Sequence Kernel", Sustainability, Vol. 11, No. 18, pp.4836-4851, Sep. 2019 (SSCI)</li><br/>
      <li>Jaeseok Huh, Moonjung Chae, Jonghun Park, and Kwanho Kim*, "A Case-Based Reasoning Approach to Fast Optimization of Travel Routes for Large-Scale AS/RSs", Journal of Intelligent Manufacturing, Vol. 30, No. 4, pp. 1765-1778, Apr. 2019 (SCIE)</li><br/>
      <li>Jaeseok Huh, Inbeom Park, Seongmin Lim, Bohyung Paeng, Jonghun Park, and Kwanho Kim*, "Learning to Dispatch Operations with Intentional Delay for Re-Entrant Multiple-Chip Product Assembly Lines", Sustainability, Vol. 10, No. 11, pp. 4123-4143, Nov. 2018 (SSCI)</li><br/>
      <li>Jaemin Jo, Jaeseok Huh, Jonghun Park, Bohyoung Kim, and Jinwook Seo*, "LiveGantt: Interactively Visualizing a Large Manufacturing Schedule", IEEE Transactions on Visualization and Computer Graphics, Vol. 20, No. 12, pp. 2329-2338, Dec. 2014 (SCI)</li>
	</ul>
</div>
<div class="user-publications">
    <h3> Korean Journal </h3>
    <ul>
      <li>허재석*, 박종헌, "제조라인의 학습기반 디스패처를 위한 디스패치 의사결정 평가 시각화시스템", 한국전자거래학회지, Vol. 25, No. 1, pp. 1-12, Feb. 2020 (KCI)</li><br/>
	<li>허재석*, 박종헌, "재유입 다중칩 조립라인을 위한 인공신경망 기반의 다중 목적 함수 디스패치 규칙 선택 기법", 한국정보기술학회논문지, Vol. 17, No. 2, pp. 1-11. Feb. 2019 (KCI)</li>
    </ul>
</div>
<div class="user-publications">
    <h3> International Conference </h3>
    <ul>
      <li>Yongseok Yang, Inbeom Park, Jaeseok Huh, Bohyoung Paeng, Sungmin Lim, and Jonghun Park, "Deep Reinforcement Learning for Smart Factory Operation", The 2nd Pacific Rim Statistical Conference for Production Engineering, Seoul, Korea, Dec. 15-16, 2016</li><br/>
	<li>Sungwook Jeon, Kilho Kim, Yerim Choi, Inbeom Park, Jaeseok Huh and Jonghun Park, "Mobile Context Inference Using Multimodal Smartphone Sensor Data", 3rd Intl. Conference on Soft Computing & Machine Intelligence (ISCMI 2016), Dubai, UAE, Nov. 23-25, 2016</li><br/>
	<li>Jaemin Jo, Jaeseok Huh, Jonghun Park, Bohyoung Kim, and Jinwook Seo, "LiveGantt: Interactively Visualizing a Large Manufacturing Schedule", IEEE InfoVis 2014, Paris, France, Nov. 9-14, 2014</li>
    </ul>
</div>
<div class="user-publications">
    <h3> Korean Conference </h3>
    <ul>
      <li>허재석, 임성민, 박인범, 팽보형, 김중균, 박종헌, 윤영민, 이호열, "반도체 패키징 라인의 TAT 감소와 설비 가동률 증가를 위한 딥러닝 기반의 디스패칭 기법", 대한산업공학회 춘계공동 학술대회 논문집, 28: 580-587, 2018 </li><br/>
	<li>허재석, 박인범, 팽보형, 임성민, 박종헌, 김관호, 윤영민, 이호열, "반도체 공정 스케줄의 의사 결정 단위 성능 평가를 위한 UI 시스템", 대한산업공학회 춘계공동학술대회, 27: 181-192, 2017 </li><br/>
	<li>진학은, 기홍도, 채문정, 허재석, 박종헌, "스마트기기 센서 데이터를 이용한 전투행동 예측 기법", 대한산업공학회 추계공동학술대회, 26: 2325-2334, 2016 </li><br/>
	<li>허재석, 양용석, 임성민, 박인범, 채문정, 김관호, 박종헌, "사례기반추론을 이용한 자 동창고의 위치 할당 및 입/출고 순간 스케줄링 기법", 대한산업공학회 춘계공동학술대회, 25: 791-797, 2014</li>
    </ul>
</div>
<div class="upss">
  <a class="ups" href="#header" data-scroll><i class="icon fas fa-chevron-up" aria-hidden="true"></i></a>
</div>

